* {
  box-sizing: border-box;
}
#root {
  /* --primary: #f5bd02; */
  /* --secondary: #ff451b; */
  /* --gray1: #494b50; */
  /* --gray2: #a7afbd; */
  --gray3: #222224;
  --white: #fff;

  color: var(--white);
}



.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 3px;
  width: 20px;
  margin: 0 3px;
  background-color: var(--gray3);
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.dot.active-dot {
  background-color: var(--secondary);
}




